html, body, div, span {
    margin:0;
    padding:0;border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
.header{
    width: 1101px;
    height: 111px;
    margin: 0 auto;
    padding: 12px 0 18px;
    position: relative;
    z-index: 1;
}
.header .logo{
    width: 256px;
    height: 86px;
    margin-top: 25px;

}